<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>206892415091-89oe7t5m9075q26gttjbcgihe5950og2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.206892415091-89oe7t5m9075q26gttjbcgihe5950og2</string>
	<key>API_KEY</key>
	<string>AIzaSyA1CkOCKzROg_dGx3PV6eArv_18f2dLkCE</string>
	<key>GCM_SENDER_ID</key>
	<string>206892415091</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.todoapp</string>
	<key>PROJECT_ID</key>
	<string>todo-app-bb092</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-bb092.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:206892415091:ios:6d833720996e9a3602d206</string>
</dict>
</plist>